body{
	background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/10/27/09/matrix-code.jpg);
	text-align: center;
}

.text-muted{
	color: white;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}